<div>
  <h1>Real-time Video Streaming using WebSockets</h1>
  <div class="video-container">
    <div id="Webcam" class="hidden">
      <h2>Webcam Input</h2>
      <video id="input_video" autoplay playsinline></video>
    </div>

    <div id="liveStream" class="hidden">
      <h2>Broadcasting Video</h2>
      <img src="" id="received_video" />
    </div>
  </div>
  <div class="button-container">
    <button id="start-button">Start Streaming</button>
    <button id="stop-button" class="hidden">Stop Streaming</button>
  </div>

  <button class="hidden">record</button>
</div>
